body {
    font-family: Arial, Helvetica, sans-serif;
}


.age-checker {
    margin: .9%;
    border-radius: 6px;
    background-color: rgb(214, 217, 236);
    padding: .5em;
}

input[type="number"] {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button{
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 3px;
    background-color: rgb(21, 65, 240);
    color:white;
    border: 1px solid rgb(5, 5, 151);
}

button:hover {
 background-color: rgb(4, 33, 148);
 border: 1px solid rgb(4, 4, 87);
}

#result {
    border-radius: 4px;
    padding:8px;
    font-weight: bold;
}


.adult {
    background-color: rgb(201, 228, 203);
    color: rgb(27, 108, 19);
    border: 1px solid rgb(16, 99, 26);;
}

.minor {
    background-color: rgb(245, 248, 198);
    color:rgb(209, 155, 7);
    border: 1px solid rgb(209, 162, 7);
}

.invalid {
  background-color: #fab6bc;
  color: #640a13;
  border: 1px solid #540626;
}
